.container {
  width: min(1350px, 95%);
  margin-inline: auto;
}

.scalein {
  animation: scalein 0.15s linear;
}

.fadeout {
  animation: fadeout 0.15s linear;
}

.title-font {
  font-family: var(--title-font) !important;
}

.p-button {
  .p-button-icon {
    margin-inline: 10px;
  }
}
.editor-wrapper {
  margin: 0;
  padding: 0;
  line-height: 2;
  overflow-wrap: break-word;
  -webkit-hyphens: auto;
  hyphens: auto;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 0.5rem !important;
  }
  ul {
    margin-block: 5px;
    padding-inline-start: 30px;
    list-style: circle;
    li {
      line-height: 2rem;
      &:last-child {
        margin-bottom: 0px !important;
      }
    }
  }
}

.cta-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 100%;
  background-color: var(--red-secound-primary);
  color: #fff;
  padding-block: 8px;
  padding-inline: 15px;
  font-size: 1rem;
  text-transform: uppercase;
  border: 0;
  border-radius: 5px;
  font-weight: 700;
  box-shadow: none;

  &:hover {
    background-color: var(--blue-primary);
  }
}

.button-app {
  background: var(--red-secound-primary);
  color: var(--surface-a);
  text-transform: uppercase;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  width: 150px;
  transition: 0.3s;
  &:hover {
    color: var(--surface-a);
    &::before,
    &::after {
      inset-inline-start: 0;
    }
  }
  &::after {
    content: attr(data-pro);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    inset-inline-start: -100%;
    width: 100%;
    height: 100%;
    transition: 0.5s;
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    inset-inline-start: -100%;
    width: 100%;
    height: 100%;
    background: var(--blue-primary);
    transition: 0.5s;
    transform: skew(-25deg);
  }
}

@keyframes scalein {
  0% {
    opacity: 0;
    transform: scaleY(0.8);
    transition: transform 0.12s cubic-bezier(0, 0, 0.2, 1),
      opacity 0.12s cubic-bezier(0, 0, 0.2, 1);
  }

  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.img {
  clip-path: polygon(100% 0%, 100% 0%, 100% 100%, 100% 100%);
  transition: clip-path 2s cubic-bezier(0.5, 0.5, 0, 1);
  overflow: hidden;

  img {
    transform: scale(1.5) translate(100px, 0);
    transition: transform 2s cubic-bezier(0.5, 0.5, 0, 1);
  }

  &.animate {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);

    img {
      transform: scale(1) translate(0, 0);
    }
  }
}
.control-input {
  background-color: #f8f8f8;
  box-shadow: none;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  padding: 13px 20px;
}

.outlined-el {
  position: relative;
  font-weight: 500;
  font-size: 1.2rem;
  padding-inline: 5px;
}

#blank-page {
  position: fixed;
  z-index: 998;
  width: 100%;
  height: 100%;
  inset: 0;
  background-color: #fff;
}
